﻿@{
    ViewBag.Title = "Chat";
}
<h2>@ViewBag.Title</h2>
<small id="yname"></small>
<br /><br /><br />
<div class="container">
    <input type="text" id="message" />
    <input type="button" id="sendmessage" value="Send" />
    <input type="hidden" id="displayname" />
    <ul id="discussion"></ul>
</div>
@section scripts {
    <script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <script>
        $(function () {
            var chat = $.connection.chatHub;
            chat.client.addNewMessageToPage = function (name, message, date) {
                $('#discussion').append('<li>' + htmlEncode(date) + '  <strong>' + htmlEncode(name) + '</strong>: ' + '  <span style="color:blue;font-weight:bold">' + htmlEncode(message)  + '</span>'  +  '</li>');
            };
            $('#displayname').val(prompt('Enter your name:', ''));
            $('#message').focus();
            $.connection.hub.start().done(function () {
                $('#yname').html("Your username is "+$('#displayname').val() + " and you have connected to signalR :)");
                $('#yname').css("color", "green");

                $('#sendmessage').click(function () {
                    chat.server.send($('#displayname').val(), $('#message').val(), new Date().toLocaleTimeString());

                    $('#message').val('').focus();
                });
            }).fail(function (reason) {
                $('#yname').html("Sorry! " + $('#displayname').val() + " you can't signed to server: " + reason);
                $('#yname').css("color", "red");
            });
        });
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}