﻿@model List<ChatAppSignalR.Models.Student>
<h1>List of Students</h1>
<br /><br />
<table border="1" cellpadding="10" class="table table-dark table-info table-responsive ">

    <tr>
        <th scope="col">#</th>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.StudentID</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
        </tr>
    }
</table>
<a asp-controller="Home" asp-action="Insert" role="button" class="btn btn-success">
    Add New Student
</a>

